.git
.github
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
.coverage
htmlcov/
mlruns/
mlartifacts/
mlflow.db
data/external/
data/raw/*
data/interim/*
!data/raw/.gitkeep
!data/interim/.gitkeep
notebooks/
docs/
tests/
.vscode/
.DS_Store
